/* For the grid lines */
.grid line {
    stroke: white;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

body {
    background-image: url("../Images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}